# Example Caddyfile config for a reverse proxy
# Use the name of your container in the proxy definition below


log stdout
errors stderr

http://www.adolfo-peixinho.eu.org, http://adolfo-peixinho.eu.org {

				proxy / app1-ap:10001 {
					# proxy_header Host {host}
					# proxy_header X-Real-IP {remote}
					# proxy_header X-Forwarded-Proto {scheme}
					policy round_robin
					health_check /health
					transparent
				}
				header / {
					# Include any headers for your site here
				}

				gzip

        tls off

        # tls example@example.com #Your email for Let's Encrypt Verification
}

http://www.peixe.eu.org, http://peixe.eu.org {

				proxy / app2-ap:10002 {
					# proxy_header Host {host}
					# proxy_header X-Real-IP {remote}
					# proxy_header X-Forwarded-Proto {scheme}
					policy round_robin
					health_check /health
					transparent
				}

				header / {
					# Include any headers for your site here
				}

				gzip

        tls off

        # tls example@example.com #Your email for Let's Encrypt Verification
}
