# Example Caddyfile config for a reverse proxy
# Use the name of your container in the proxy definition below

www.adolfo-peixinho.eu.org, adolfo-peixinho.eu.org {

				proxy / app1-ap:10001 {
					proxy_header Host {host}
					proxy_header X-Real-IP {remote}
					proxy_header X-Forwarded-Proto {scheme}
				}

				header / {
					# Include any headers for your site here
				}

				gzip

        tls off

        # tls example@example.com #Your email for Let's Encrypt Verification
}

www.peixe.eu.org, peixe.eu.org {

				proxy / app2-ap:10002 {
					proxy_header Host {host}
					proxy_header X-Real-IP {remote}
					proxy_header X-Forwarded-Proto {scheme}
				}

				header / {
					# Include any headers for your site here
				}

				gzip

        tls off

        # tls example@example.com #Your email for Let's Encrypt Verification
}
